@model List<HouseholdMemberInfo>


<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h2>Add New Photo</h2>
                            <button onclick="toggleAddPhotoForm()">Add Photo</button>
                            <form id="addPhotoForm" asp-controller="Image" asp-action="UploadImage" method="post" enctype="multipart/form-data" style="display: none;">
                                <div class="row">
                                    <input type="file" id="file" name="file" />
                                </div>
                                <div>
                                    <label for="memberName">Select User:</label>
                                    <select id="memberName" name="memberName" onchange="validateUserSelection()">
                                        <option value="">Select User</option>
                                        @foreach (var user in Model)
                                        {
                                            <option value="@user.MemberName">@user.MemberName</option>
                                        }
                                    </select>
                                </div>
                                <button id="uploadButton" type="submit" disabled>Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div>
                            <h2>Add New User</h2>
                            <button onclick="toggleAddUserForm()">Add New User</button>
                            <div class="row">
                                <form id="addUserForm" asp-controller="User" asp-action="AddHouseMember" method="post" style="display: none;">
                                    <div>
                                        <input type="text" id="userNameInput" name="userName" placeholder="Enter user name" onkeyup="validateUserInput()"/>
                                    </div>
                                    <button id="addUserButton" type="submit" disabled>Add User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.IsImages)
    {
        <h1>Users and Photos</h1>

        @foreach (var user in Model)
        {
            if (user.Images == null || user.Images.Count == 0)
            {

            }
            else
            {
                <div>
                    <h5><i class="fa-solid fa-user"></i> @user.MemberName <a href="@Url.Action("DeleteUser", new { name = user.MemberName })"><i class="fa fa-trash"></i></a></h5>
                    <div class="image-container">
                        @foreach (var image in user.Images)
                        {
                            <div class="image-item">
                                <img src="@Url.Action("DisplayImage", "Image", new { id = image.Id })" alt="@image.Filename" />
                                <div class="deleteimgblock">
                                    <a asp-controller="Image" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger btn-sm">Delete Image</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    } else
{
        <h4>No Photos Added</h4>
        <p>Add users and photos to start building your household</p>
}
}




