@model List<HouseholdMemberInfo>


<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h2>Add New Photo</h2>
                            <button onclick="toggleAddPhotoForm()">Add Photo</button>
                            <form id="addPhotoForm" asp-controller="Image" asp-action="UploadImage" method="post" enctype="multipart/form-data" style="display: none;">
                                <div class="row">
                                    <input type="file" id="file" name="file" />
                                </div>
                                <div>
                                    <label for="imageName">Select User:</label>
                                    <select id="imageName" name="imageName">
                                        @foreach (var user in Model)
                                        {
                                            <option value="@user.MemberName">@user.MemberName</option>
                                        }
                                    </select>
                                </div>
                                <button type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div>
                            <h2>Add New User</h2>
                            <button onclick="toggleAddUserForm()">Add User</button>
                            <div class="row">
                                <form id="addUserForm" asp-controller="Image" asp-action="UploadImage" method="post" style="display: none;">
                                    <div>
                                        <input type="text" name="imageName" placeholder="Enter user name" />
                                    </div>
                                    <button type="submit">Add User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1>Users and Photos</h1>

@foreach (var user in Model)
{
    <div>
        <h5><i class="fa-solid fa-user"></i> @user.MemberName <a href="@Url.Action("DeleteUser", new { name = user.MemberName })"><i class="fa fa-trash"></i></a></h5>
        <div class="image-container">
            @foreach (var image in user.Images)
            {
                <div class="image-item">
                    <img src="@Url.Action("DisplayImage", "Image", new { id = image.Id })" alt="@image.Filename" />
                    <div class="deleteimgblock">
                        <a asp-controller="Image" asp-action="DeleteImage" asp-route-id="@image.Id" class="btn btn-danger btn-sm">Delete Image</a>
                    </div>
                </div>
            }
        </div>
    </div>
}



