@model UserViewModel

<div class="container">
    @{ if (ViewBag.UpdateThresh != null)
        {
            <p>@ViewBag.UpdateThresh</p>
        }
    }
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.Fullname</h4>

                                <p>Device ID: #567848234</p>
                                <a class="btn btn-outline-primary" asp-controller="Image" asp-action="UploadImage">Register New Faces</a>
                                <a class="btn btn-outline-primary btn-sm" asp-controller="Image" asp-action="DisplayImages">View Faces</a>
                                <a class="btn btn-outline-secondary btn-sm" asp-controller="Account" asp-action="Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Fullname
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Address
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Device Threshold</h6>
                            </div>
                            <div class="col-sm-5">
                                <span id="thresholdValue">@{@Model.DeviceThreshold}%</span>
                            </div>
                            <div class="col-sm-4">
                                <a id="editThresholdBtn" class="btn btn-info btn-sm">Edit Threshold</a>
                                <div id="thresholdSlider" style="display: none;" data-update-url="@Url.Action("UpdateThreshold", "User")">
                                    <input type="range" min="0" max="100" value="@Model.DeviceThreshold" class="slider" id="thresholdRange">
                                    <button id="saveThresholdBtn" class="btn btn-success btn-sm mt-2">Save</button>
                                    <button id="cancelThresholdBtn" class="btn btn-secondary btn-sm mt-2 ml-2">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>